@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply outline-2 outline-offset-2 outline-black/30 transition-all duration-200 ease-in-out focus:outline active:scale-95 dark:outline-white/30;
    }
    .basic {
        @apply flex h-[40px] items-center justify-center rounded-full border border-gray-light-5 bg-gray-light-2 text-sm font-semibold text-gray-light-12 hover:bg-gray-light-3 dark:border-gray-dark-5 dark:bg-gray-dark-2 dark:text-gray-dark-12 dark:hover:bg-gray-dark-3;
    }
    .hero-text {
        @apply m-0 max-w-2xl text-center text-5xl font-bold tracking-tight text-gray-light-12 dark:text-gray-dark-12 sm:text-6xl md:text-7xl;
    }
    .heading-h0 {
        @apply font-interDisplay text-[148px] font-extrabold leading-[136px] tracking-[-0.05em];
    }
    .heading-h1 {
        @apply font-interDisplay text-[67px] font-extrabold leading-[72px] tracking-[-0.05em];
    }
    .heading-h2 {
        @apply font-interDisplay text-[50px] font-extrabold leading-[56px] tracking-[-0.05em];
    }
    .heading-h3 {
        @apply font-interDisplay text-4xl font-bold tracking-[-0.05em];
    }
    .heading-h4 {
        @apply font-interDisplay text-[28px] font-bold leading-8 tracking-[-0.05em];
    }
    .heading-h5 {
        @apply font-interDisplay text-[21px] font-bold leading-6 tracking-[-0.05em];
    }
    .heading-h6 {
        @apply font-interDisplay text-base font-bold leading-4 tracking-[-0.05em];
    }
    .heading-h7 {
        @apply font-interDisplay text-sm font-semibold leading-4 tracking-[-0.05em];
    }
    .heading-h8 {
        @apply font-interDisplay text-xs font-semibold tracking-[-0.05em];
    }
    .paragraph-xl {
        @apply font-inter text-xl font-normal leading-8 tracking-[-0.03em];
    }
    .paragraph-l {
        @apply font-inter text-lg font-normal leading-6 tracking-[-0.03em];
    }
    .paragraph-m {
        @apply font-inter text-base font-normal tracking-[-0.03em];
    }
    .paragraph-s {
        @apply font-inter text-sm font-normal leading-6 tracking-[-0.03em];
    }
    .paragraph-xs {
        @apply font-inter text-xs font-normal tracking-[-0.03em];
    }
    .display-d1 {
        @apply font-space text-[67px] font-bold leading-[72px] tracking-[-0.02em];
    }
    .display-d2 {
        @apply font-space text-[50px] font-bold leading-[56px] tracking-[-0.02em];
    }
    .display-d3 {
        @apply font-space text-4xl font-bold tracking-[-0.02em];
    }
    .display-d4 {
        @apply font-space text-[28px] font-bold leading-8 tracking-[-0.02em];
    }
    .display-d5 {
        @apply font-space text-[21px] font-bold leading-6 tracking-[-0.02em];
    }
    .display-d6 {
        @apply font-space text-base font-bold leading-4 tracking-[-0.02em];
    }
    .display-d7 {
        @apply font-space text-sm font-bold leading-4 tracking-[-0.02em];
    }
    .display-d8 {
        @apply font-space text-xs font-bold tracking-[-0.02em];
    }
}

html.dark {
    background: rgb(22 22 22 / var(--tw-bg-opacity));
}

html {
    background: rgb(252 252 252 / var(--tw-bg-opacity));
}

.dark .gradient {
    background-image: radial-gradient(
        91.36% 358.74% at 12.29% 100%,
        #c9bbff 0%,
        #b2ecff 30.08%,
        #ffc1f9 60.28%,
        #fff5c1 100%
    );
}

.overflow-wrap {
    overflow-wrap: normal;
}

.gradient {
    background-image: radial-gradient(
        91.36% 358.74% at 12.29% 100%,
        #9d85ff 0%,
        #7ad4f0 30.08%,
        #f554e5 60.28%,
        #e7cf55 100%
    );
}

.color-brand-eth {
    background: linear-gradient(
            180deg,
            rgba(29, 29, 29, 0) 0%,
            rgba(29, 29, 29, 0.4) 100%
        ),
        linear-gradient(0deg, rgba(220, 44, 128, 0.6), rgba(220, 44, 128, 0.6)),
        radial-gradient(
                139.04% 139.04% at 3.93% 2.25%,
                rgba(0, 0, 0, 0) 22.95%,
                rgba(0, 0, 0, 0.8) 62.72%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
                98.85% 98.53% at 20.91% 26.36%,
                #fa55ae 0%,
                #cab2ff 79.17%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: multiply, overlay, overlay, normal;
}

.color-brand-avax {
    background: linear-gradient(
            180deg,
            rgba(29, 29, 29, 0) 0%,
            rgba(29, 29, 29, 0.4) 100%
        ),
        linear-gradient(0deg, rgba(211, 37, 37, 0.6), rgba(211, 37, 37, 0.6)),
        radial-gradient(
                139.04% 139.04% at 3.93% 2.25%,
                rgba(0, 0, 0, 0) 22.95%,
                #000000 62.72%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
                121.58% 154.55% at 15% 38.86%,
                #f56e6e 0%,
                #ffeab3 93.24%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: multiply, overlay, overlay, normal;
}

.color-brand-dpx {
    background: linear-gradient(
            180deg,
            rgba(29, 29, 29, 0) 0%,
            rgba(29, 29, 29, 0.4) 100%
        ),
        linear-gradient(0deg, rgba(67, 84, 239, 0.6), rgba(67, 84, 239, 0.6)),
        radial-gradient(
                139.04% 139.04% at 3.93% 2.25%,
                rgba(0, 0, 0, 0) 22.95%,
                rgba(0, 0, 0, 0.8) 62.72%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
                133.02% 113.64% at 19.09% 25.45%,
                #4354ef 0%,
                #23a9f5 84.38%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: multiply, overlay, overlay, normal;
}

.color-product-ethrise-gradient {
    background: radial-gradient(
                139.04% 139.04% at 3.93% 2.25%,
                rgba(0, 0, 0, 0) 22.95%,
                rgba(0, 0, 0, 0.8) 62.72%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        conic-gradient(
            from 128.1deg at 20.91% 26.36%,
            #fa55ae 0deg,
            #cab2ff 228.21deg,
            #fa55ae 360deg
        );
    background-blend-mode: overlay, normal;
}

.color-product-avaxrise-gradient {
    background: radial-gradient(
                139.04% 139.04% at 3.93% 2.25%,
                rgba(0, 0, 0, 0) 22.95%,
                #000000 62.72%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        conic-gradient(
            from 144.97deg at 0% 8.86%,
            #f56e6e 0deg,
            #ffeab3 226.65deg,
            #f56e6e 360deg
        );
    background-blend-mode: overlay, normal;
}

.color-product-gohmrise-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        radial-gradient(
                73.56% 87.27% at 18.18% 26.36%,
                #ffa439 16.01%,
                #f34040 81.12%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: overlay, normal;
}

.color-product-gohmrise-gradient {
    background: radial-gradient(
                139.04% 139.04% at 3.93% 2.25%,
                rgba(0, 0, 0, 0) 22.95%,
                #000000 62.72%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        conic-gradient(
            from 144.97deg at 0% 8.86%,
            #f56e6e 0deg,
            #ffeab3 226.65deg,
            #f56e6e 360deg
        );
    background-blend-mode: overlay, normal;
}
.move-gradient {
    animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
